name: swipeable_stack
description: A new Flutter project.
version: 0.4.3
homepage: https://github.com/HeavenOSK/flutter_swipeable_stack
environment:
  sdk: ">=2.13.0 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic_mono: